@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Raleway Dots";
    src: url("/fonts/ralewaydots.ttf");
}

@font-face {
    font-family: "Anton";
    src: url("/fonts/anton.ttf");
}

@font-face {
    font-family: "Yellow Tail";
    src: url("/fonts/yellowtail.ttf");
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/playfair.ttf");
}

.font-rd {
    font-family: "Raleway Dots", sans-serif;
    font-weight: 800;
}

.font-anton {
    font-family: "Anton", sans-serif;
    letter-spacing: 0.05in;
}

.font-yt {
    font-family: "Yellow Tail", sans-serif;
    letter-spacing: 0.036in;
}

.font-pf {
    font-family: "Playfair Display", sans-serif;
}

::selection {
    @apply bg-amber-500 text-black font-bold
}
